<?xml version="1.0" encoding="UTF-8"?>

<suite name="AutomationExerciseSuite">

    <listeners>
        <listener class-name="utilities.ExtentTestListener"/>
    </listeners>

    <test name="Regression Suite">

        <classes>

            <class name="tests.TC01_RegisterUser"/>
            <class name="tests.TC02_ValidLogin"/>
            <class name="tests.TC03_InvalidLogin"/>
            <class name="tests.TC04_LogoutUser"/>
            <class name="tests.TC05_RegisterUserWithExistingEmail"/>
            <class name="tests.TC06_ContactUsForm"/>
            <class name="tests.TC07_TestcasesPageNavigation"/>
            <class name="tests.TC08_ProductQuantityInCart"/>
            <class name="tests.TC09_SearchProduct"/>
            <class name="tests.TC10_SubscriptionInHomepage"/>
            <class name="tests.TC11_SubscriptionInCartpage"/>
            <class name="tests.TC12_AddProductsInCart"/>
            <class name="tests.TC13_VerifiyAllProductsAndProductPage"/>
            <class name="tests.TC14_RegisterWhileCheckout"/>
            <class name="tests.TC15_RegisterBeforeCheckout"/>
            <class name="tests.TC16_LoginBeforeCheckout"/>
            <class name="tests.TC17_RemoveProductsFromCart"/>
            <class name="tests.TC18_ViewCategoryProducts"/>
            <class name="tests.TC19_ViewCartBrandProducts"/>
            <class name="tests.TC20_SearchProductsAndVerifyCartAfterLogin"/>
            <class name="tests.TC21_AddReviewOnProduct"/>
            <class name="tests.TC22_AddToCartFromRecommendedItems"/>
            <class name="tests.TC23_VerifyAddressDetailsInCheckoutPage"/>
            <class name="tests.TC24_DownloadInvoiceAfterPurchaseOrder"/>
            <class name="tests.TC25_VerifyScrollUpUsingArrowButton"/>
            <class name="tests.TC26_VerifyScrollUpWithoutArrowButton"/>

        </classes>

    </test>

</suite>